<!DOCTYPE html>
<html>
  <head>
    <title>PonyVoiceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application',
                            'react_entry'
    %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
